[Unit]
Description=Cliphist Clipboard Monitor
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/cliphist store
Restart=always
Environment=WAYLAND_DISPLAY=wayland-1
Environment=XDG_RUNTIME_DIR=%t/run/user/%U

[Install]
WantedBy=default.target
