[Unit]
Description=wf-recorder screen recorder service (per-user)

[Service]
[Service]
Type=simple
ExecStart=/home/avinas/.config/hypr/additional/wf-recorder-start.sh
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
